<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Travel Agency</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Poppins;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background: var(--dl-color-gray-white);

        fill: var(--dl-color-gray-black);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./faq8.css" rel="stylesheet" />
      <div class="faq8faq8 thq-section-padding">
        <div class="faq8-max-width thq-section-max-width">
          <div class="faq8-container10 thq-flex-column">
            <div class="faq8-section-title thq-flex-column"></div>
            <div class="thq-flex-column">
              <div class="faq8-list thq-flex-column">
                <div class="faq8-faq1">
                  <div class="faq8-trigger1 thq-section-max-width">
                    <p>
                      <fragment class="faq8-fragment2"></fragment>
                    </p>
                    <p class="faq8-text343 thq-body-large">Профилактика ВИЧ</p>

                    <p></p>
                    <div class="faq8-icons-container1">
                      <div>
                        <svg viewBox="0 0 1024 1024" class="faq8-icon10">
                          <path
                            d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                          ></path>
                        </svg>
                      </div>
                      <div>
                        <svg viewBox="0 0 1024 1024" class="faq8-icon12">
                          <path
                            d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="faq8-container14">
                    <span class="thq-body-small">
                      <span>
                        «Веди себя благоразумно — среди тысяч людей только один
                        умирает естественной смертью, остальные погибают
                        вследствие безрассудной манеры бытия».
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Маймонид (средневековый философ, 1135–1204 гг.)
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>ОБЩИЕ СВЕДЕНИЯ О ВИЧ/СПИДe</span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        С 1 августа 1995 года в России действует Закон "О
                        предупреждении распространения в Российской Федерации
                        заболевания, вызываемого вирусом иммунодефицита человека
                        (ВИЧ-инфекции)", регулирующий отношения государства и
                        человека в области вопросов, связанных с
                        распространением ВИЧ/СПИДа. ВИЧ (Вирус Иммунодефицита
                        Человека) - это вирус, который передаётся от человека к
                        человеку определёнными путями и вызывает нарушение
                        функций или разрушение иммунной системы организма
                        человека.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        ВИЧ-инфекция - это заболевание, возникающее при
                        проникновении в организм человека вируса иммунодефицита.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        СПИД - это сокращение от Синдром Приобретённого
                        Иммунного Дефицита. Это последняя (терминальная) стадия
                        ВИЧ-инфекции.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        ВИЧ - это необычный вирус , потому что человек может
                        быть инфицирован много лет и казаться при этом абсолютно
                        здоровым. Но вирус постепенно размножается внутри
                        организма и в конце концов уничтожает возможность
                        организма бороться против инфекций и болезней, убивая
                        клетки крови, которые являются частью иммунной
                        (защитной) системы организма. Если человек инфицирован,
                        это ещё не значит, что у него сразу разовьётся СПИД.
                        Вирус может находиться в организме десять и более лет,
                        прежде чем человек почувствует какие-либо симптомы
                        заболевания. В течение этого периода человек может
                        выглядеть и чувствовать себя абсолютно здоровым, но при
                        этом может передать этот вирус другим.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>Таким образом:</span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        • можно получить ВИЧ, даже не подозревая этого
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>• можно передать ВИЧ другим, не зная об этом.</span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Через некоторое время после попадания ВИЧ в организм у
                        людей появляется состояние, напоминающее грипп, но через
                        несколько дней оно проходит. Обычно никто не связывает
                        эти проявления с ВИЧ-инфекцией. Попав в организм, вирус
                        постепенно разрушает иммунную систему, и, в конце
                        концов, она становится такой слабой, что у человека
                        появляются серьёзные проблемы со здоровьем. Могут
                        развиться пневмония, рак, различные формы лихорадки,
                        другие серьёзные заболевания, многие из которых никогда
                        не возникают у людей с неразрушенной иммунной системой.
                        Эта стадия заболевания называется СПИД. В это время
                        человек может резко потерять вес на 10 % и более, иметь
                        длительное время (более одного месяца) постоянно
                        повышенную температуру тела, сильное ночное
                        потоотделение, хроническую усталость, увеличение
                        лимфатических узлов, постоянный кашель и длительный
                        жидкий стул. После этого наступает момент, когда
                        сопротивляемость организма окончательно потеряна, а
                        болезни настолько обостряются, что человек умирает.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        В настоящее время нет лекарства, способного уничтожить
                        ВИЧ в организме человека, но существуют препараты,
                        которые могут поддержать здоровье и замедлить развитие
                        СПИДа и нет вакцины, способной предотвратить заражение.
                        Исследования показали, что ВИЧ содержится в различных
                        биологических жидкостях организма человека, но в
                        различных количествах.
                      </span>
                      <br />
                      <br />
                    </span>
                  </div>
                </div>
                <div class="faq8-faq2">
                  <div class="faq8-trigger2 thq-section-max-width">
                    <p>
                      <fragment class="faq8-fragment1"></fragment>
                    </p>
                    <p class="faq8-text342 thq-body-large">
                      Профилактика ОРВИ и гриппа
                    </p>

                    <p></p>
                    <div class="faq8-icons-container2">
                      <div>
                        <svg viewBox="0 0 1024 1024" class="faq8-icon14">
                          <path
                            d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                          ></path>
                        </svg>
                      </div>
                      <div>
                        <svg viewBox="0 0 1024 1024" class="faq8-icon16">
                          <path
                            d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="faq8-container17">
                    <span class="thq-body-small">
                      <span>
                        С наступлением холодного времени года резко возрастает
                        число острых респираторных вирусных инфекций (ОРВИ) и
                        гриппа.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Грипп – это высоко контагиозная вирусная инфекция,
                        распространенная повсеместно. Характерные клинические
                        проявления гриппа: внезапное острое начало заболевания,
                        сопровождающееся резким повышением температуры тела
                        (выше 38-40˚С), ознобом, головной болью, болью в мышцах,
                        общей слабостью, кашлем. Болезнь может протекать легко,
                        однако могут наблюдаться тяжелые формы течения вплоть до
                        смертельных исходов.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Возбудители гриппа – вирусы гриппа типов А и В
                        отличаются агрессивностью, исключительно высокой
                        скоростью размножения. За считанные часы после заражения
                        вирус гриппа приводит к глубоким поражениям слизистой
                        оболочки дыхательных путей, открывая возможности для
                        проникновения в неё бактерий. Это объясняет большее
                        число бактериальных осложнений, возникающих при гриппе.
                        Также важной особенностью вирусов гриппа является их
                        способность видоизменяться: практически ежегодно
                        появляются все новые варианты вирусов, штаммы которых
                        включаются в состав вакцины против сезонного гриппа.
                        Поэтому ежегодно состав вакцины против гриппа меняется в
                        зависимости от видов вируса гриппа превалирующих в
                        данном эпид сезоне.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>Чем опасен грипп?</span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Грипп крайне опасен своими осложнениями, такими как:
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>- легочные осложнения (пневмония, бронхит);</span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        - осложнения со стороны верхних дыхательных путей и ЛОР
                        органов (отит, синусит, ринит, трахеит);
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        - осложнения со стороны сердечно-сосудистой системы
                        (миокардит, перикардит);
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        - осложнения со стороны нервной системы (менингит,
                        менингоэнцефалит, энцефалит, невралгии,
                        полирадикулоневриты и др).
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Грипп часто сопровождается обострением имеющихся
                        хронических заболеваний.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>Как защитить себя от гриппа?</span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Единственным методом специфической профилактики гриппа
                        является ВАКЦИНАЦИЯ.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Если вакцинация вам или вашему ребенку противопоказана,
                        обсудите с врачом альтернативные способы защиты.
                        Введение в организм вакцины не может вызвать
                        заболевание, но путем выработки защитных антител
                        стимулирует иммунную систему для борьбы с инфекцией.
                        Состав современных вакцин ежегодно изменяется в
                        соответствии с мутациями вируса для максимального
                        совпадения с циркулирующими штаммами и защищает
                        одновременно от трех типов вируса гриппа в 90% случаев.
                        Эффективность вакцины от гриппа несравненно выше всех
                        неспецифических медицинских препаратов, которые можно
                        принимать в течение нескольких месяцев:
                        иммуномодуляторов, витаминов, гомеопатических средств,
                        средств так называемой «народной медицины» и др.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Противопоказаний к вакцинации от гриппа немного:
                        вакцинация должна проводиться в медицинском учреждении
                        специально обученным медицинским персоналом. Перед
                        вакцинацией обязателен осмотр врача. Вакцинация против
                        гриппа не проводится в период острых инфекционных
                        заболеваний другого генеза и в период обострения
                        хронических заболеваний, при повышенной чувствительности
                        организма к яичному белку.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Необходимо ли вакцинироваться во время беременности?
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Беременные составляют группу высокого риска по
                        неблагоприятному течению респираторных инфекций (ОРЗ),
                        среди которых грипп является лидирующим заболеванием,
                        часто заканчивающимся трагично для самой беременной и ее
                        будущего ребенка. Большинство смертельных случаев
                        наблюдается в третьем триместре беременности, как
                        наиболее критичном периоде беременности для женщины в
                        плане трудно предсказуемого исхода гриппа. Вместе с тем,
                        прерывание беременности и роды в разгар заболевания
                        сопряжено с большим числом осложнений.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Вакцинация способна сократить количество связанных с
                        гриппом госпитализаций и смертельных случаев среди
                        беременных;
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Вакцинация беременных может потенциально уменьшить
                        возможность появления и тяжесть течения гриппа у детей
                        моложе 6 месяцев жизни, для которых не существует
                        прививок против гриппа и специфического противовирусного
                        лечения. Это обеспечивается двумя способами:
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        - вакцинация во время беременности снижает риск
                        заражения после родов, а также уменьшает вероятность
                        инфицирования ребенка гриппом в течении первых месяцев
                        жизни;
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        - имеет место передача антител против гриппа от матери
                        плоду, что формирует пассивный противоинфекционный
                        иммунитет у ребенка;
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Учитывая тот факт, что младенцам до 6 месяцев
                        противопоказаны противовирусные препараты и вакцинация,
                        то вакцинация матери при беременности единственный
                        вариант защитить ребенка от гриппа.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Прививка против гриппа может уменьшить потребность
                        беременной в приёме противовирусных средств, которые
                        более опасны, чем использование противовирусных средств
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Положительный эффект от вакцинации против гриппа у
                        беренных сказывается в сокращении заболеваемости или в
                        значительном ослаблении тяжести подтвержденной инфекции,
                        протекающей впоследствии без выраженных респираторных
                        нарушений и явлений интоксикации.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>Безопасность вакцинации беременных женщин</span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Зарубежные исследования и международный опыт показывают,
                        что число неблагоприятных эффектов при использовании
                        противогриппозных вакцин достаточно невелико, и это
                        никак не отражается на здоровье женщин. К таким же
                        выводам пришли Российские авторы в работах, по изучению
                        безопасности современных отечественных вакцин против
                        гриппа у беременных в сезоннах 2009-2010 и 2010-2011гг,
                        пришли к аналогичным выводам.
                      </span>
                    </span>
                  </div>
                </div>
                <div class="faq8-faq3">
                  <div class="faq8-trigger3 thq-section-max-width">
                    <p>
                      <fragment class="faq8-fragment3"></fragment>
                    </p>
                    <p class="faq8-text344 thq-body-large">Отказ от курения</p>

                    <p></p>
                    <div class="faq8-icons-container3">
                      <div>
                        <svg viewBox="0 0 1024 1024" class="faq8-icon18">
                          <path
                            d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                          ></path>
                        </svg>
                      </div>
                      <div>
                        <svg viewBox="0 0 1024 1024" class="faq8-icon20">
                          <path
                            d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="faq8-container20">
                    <span class="thq-body-small">
                      <span>Почему Вы должны отказаться от курения!</span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Состав табачного дыма содержит более 40 особо опасных
                        соединений, т.к вызывают рак, а также несколько сотен
                        ядов: никотин, цианид, мышьяк, формальдегит, углекислый
                        газ, окись углерода и др. В сигаретном дыме присутствуют
                        радиоктивные вещества: полоний, свинец, висмут. Пачка
                        сигарет в день – около 500 ренген облучения в год!
                      </span>
                      <br />
                      <span>
                        Курение вредит Вашему здоровью потому, что при сгорании
                        табака выделяется окись углерода (угарный газ),
                        обладающий свойствами связывать гемоглобин (основная
                        функция котрого переносить кислород ко всем органам и
                        тканям организма). При этом образуется
                        карбоксигемоглобин и он не может перносит кислород. При
                        выкуривании пачки сигарет человек вводит в свой организм
                        более 400 милиллитров угарного газа. В результате все
                        органы и системы организма курильщика постоянно сидят на
                        голодном кислородном пайке.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Курение вредит Вашему здоровью потому, что у человека
                        который много курит втечении длительного времени, сосуды
                        желудка постоянно спазмированны в результате: не
                        достаточно снабжаются кислородом и питательными
                        веществами, нарушается секреция желудочного сока, а в
                        итоге гастрит и язвенная болезнь желудка. В одной из
                        московских клиник было проведено исследование, которое
                        показало что у 96% больных язвенной болезнью
                        возникновение и развитие заболевания имело прямую связь
                        с курением. Из числа оперированных пациентов по поводу
                        прободения (разрушение стенки желудка), около 90%
                        составляли заядлые курильщики.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Курение вредит Вашему здоровью потому, что компоненты
                        табачного дыма пагубно влияют на сесречно-сосудистую
                        систему. Проводились исследования, в результате которых
                        было установлена зависимость состояния сосудов от числа
                        выкуренных сигарет. У тех, кто выкуривает в месяц в
                        среднем 38 пачек сигарет, поражена 1 артерия сердца, 45
                        пачек-2 артерии, 67 пачек- 3 артерии.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Курение вредит Вашему здоровью потому, что из-за вреда
                        курения у женщин увеличивается частота воспалительных
                        заболеваний, что приводит к бесплодию. Немецкий
                        врач-гинеколог Бернхард обследовав около 6 тыс.женщин
                        установил, что бесплодие наблюдается у курящих женщин в
                        42%, а у не курящих- менее в 4%. Табак дает 96%
                        выкидышей, 1/3 недоношенных детей.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Табак разрушает и тех, кто курит, и тех кто рождается от
                        курильщиков, и тех кто находится рядом с курильщиком.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Курение вредит окружающим курильщика потому, что в
                        результате пассивного курения ежегодно умирает от рака
                        легких 3000 человек, от болезней сердца до 62
                        тыс.человек, 2,7 тыс.детей по этой же причине погибают в
                        результате так называемого синдрома внезапной смерти
                        младенцев. Если будушие матери подвергаются воздействию
                        табачного дыма, у них чаще рождаются дети, имеющие
                        различные дефекты, прежде всего нейропсихические.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Вдыхание табачного дыма гораздо опаснее для детей. Так,
                        пассивное курение ежегодно служит причиной возникновения
                        астмы у 8-26 тыс.детей, бронхитов – у 150-300тыс.детей,
                        причем 7,5 до 15,6 тыс. детей госпитализируются, а от
                        136 до 212 из них умирают. Согласно данным собранным
                        Американской ассоциацией по исследованию сердца, если
                        дома курят, это крайне не благоприятно отражается на
                        детях имеющих высокий уровень холестерина в крови.
                        Сигаретный дым уменьшает у них так называемого полезного
                        холестерина, который предохраняет от заболеваний сердца.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Курение это привычка, противная зрению, невыносимая для
                        обоняния, вредная для мозга, опасная для легких.
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        «Для них для славян-никакой гигиены, только водка и
                        табак» А.Гитлер
                      </span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <br />
                      <br />
                      <span>
                        Если даже Гитлер знал и хорошо понимал вред курения и
                        навязывал его славянам, то сегодня славяне пьют, курят,
                        употребляют наркотики исключительно сами.
                      </span>
                      <br />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
